html, body, h2
{  
    margin: 0;  
    padding: 0; 
}

footer {
    clear: both;
    height: 0px;
    width: 100%;
    margin-bottom: -20px;
}

    .logos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: black;
        margin-right: -20px;
        margin-left: -20px;
        height: 300px;
        align-items: center;
        justify-items: center;
        grid-template-areas:
            "logo-agencia-footer logo-ufrj social"
            "cop cop cop";
    }

        #logo-agencia-footer {
            grid-area: logo-agencia-footer;
            height: 130px;
            width: 130px;
        }

        #logo-ufrj {
            grid-area: logo-ufrj;
            height: 280px;
            width: 280px;
        }

        #social {
            grid-area: social;
            background-color: black;
        }

            #social ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 10px;
                justify-self: center;
                margin: 0px;
                list-style-type: none;
                background-color: black;
            }

                #facebook {
                    text-align: right;
                }
            
                #linkedin {
                    text-align: left;
                }

                

                #social a {
                    width: 50px;
                    height: 50px;
                    background-color: black;
                }

        #cop {
            background-color: black;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-area: cop;
            justify-self: stretch;
            align-self: stretch;
            background-color: black;
        }

            #cop p {
                color: white;
                text-align: center;
                font-family: "Montserrat", sans-serif;
                font-size: 11px;
                line-height: 62px;
                font-weight: 700;
                text-transform: uppercase;
            }










@media only screen and (min-width: 400px) and (max-width: 600px) {

    #list {
        display: grid;
        row-gap: 30px;
        column-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        justify-content: center;
        align-content: center;
        padding-bottom: 40px;
    }

    #logo-agencia-footer {
        grid-area: logo-agencia-footer;
        height: 75px;
        width: 75px;
    }

    #logo-ufrj {
        grid-area: logo-ufrj;
        height: 180px;
        width: 180px;
    }

    #social a {
        width: 40px;
        height: 40px;
        background-color: black;
    }

    #cop p {
        color: white;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 9px;
        line-height: 62px;
        font-weight: 700;
        text-transform: uppercase;
    }
}











































@media only screen and (max-width: 400px) {    

    .logos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        background-color: black;
        margin-right: -20px;
        margin-left: -20px;
        grid-template-areas:
            "logo-agencia-footer"
            "logo-ufrj"
            "social"
            "cop"
        ;
    }

    #logo-agencia-footer {
        grid-area: logo-agencia-footer;
        height: 75px;
        width: 75px;
        padding-top: 15px;
    }

    #logo-ufrj {
        grid-area: logo-ufrj;
        height: 180px;
        width: 180px;
    }

    #social a {
        width: 40px;
        height: 40px;
        background-color: black;
    }

    #social {
        grid-area: social;
        background-color: black;
        align-self: stretch;
        justify-self: stretch;
    }

    #facebook {
        text-align: right;
        padding-right: 30px;
    }

    #cop p {
        color: white;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 11px;
        line-height: 62px;
        font-weight: 700;
        text-transform: uppercase;
    }

    #title-large {
        text-align: center;
        color: #ffffff;
        font-size: 38px;
        line-height: 60px;
        letter-spacing: 1px;
        padding-bottom: 50px;
        padding-top: 200px;
    }
}


@media only screen and (min-width: 400px) and (max-width: 900px) {

    .logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: black;
        margin-right: -20px;
        margin-left: -20px;
        height: 300px;
        align-items: center;
        justify-items: center;
        grid-template-areas:
            "logo-agencia-footer logo-ufrj "
            "social cop";
    }

    #social {
        grid-area: social;
        background-color: black;
        align-self: stretch;
        justify-self: stretch;
    }
}