html, body, h2
{  
    margin: 0;  
    padding: 0; 
}



#cabecalho {	
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;	
    max-width: auto;	
    height: 110px;
    margin: 0 auto;
    padding-top: 0px;
    margin-top: -15px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 15px;
    justify-content: space-between;
    background-color: black;
}

    #logo {	
        align-items: center;
        margin-top: 10px;
        padding-left: 60px;
        transform: scale(0.8);
        margin-left: -11px;
        height: 100px;
        width: auto;
    }

    #logo-drop-down {
        display: none;
        width: 70px;
        height: 70px;
        padding-top: 25px;
        padding-right: 40px;
    }

    #links {
        align-items: center;
        padding-right: 40px;
    }

        #links ul {
            padding: 0px;
            margin: 0px;
            float: right;
            list-style-type: none;
            margin-top: 0px;
            margin-right: 15px;
        }

        #links li {
            display: inline;
        }

        a:link {
            text-decoration: none;
        }

        #links a {
            padding: 0px 5px;
            display: inline-block;
            font-size: 12px;
            color: #ffffff;
            font-style: normal;
            font-weight: 900;
            letter-spacing: 0px;
            text-transform: uppercase;
            line-height: 140px;
        }

        #links a:hover {
            font-size: 13px;
            color: #39ff14;
        }

    #links-drop-down {
        display: none;
    }

        #hamburguer{
            display: none;
            width: 70px;
            height: 70px;
            padding-top: 25px;
            padding-left: 50px;
        }










@media only screen and (max-width: 1050px) {

    #cabecalho {	
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;		
        height: 110px;
        justify-content: space-between;		
        background-color: black;
    }

    #logo {	
        display: none;
        align-items: center;	
        margin-top: 10px;
        padding-left: 60px;
        transform: scale(0.9);
        margin-left: -11px;
        height: 100px;
        width: auto;
    }	
    
    #links {
        display: none;
        align-items: center;
        padding-right: 40px;
    }

    #logo-drop-down {
        display: inherit;
        width: 70px;
        height: 70px;
        padding-top: 25px;
        padding-right: 75px;
        margin-right: auto;		
    }

    #hamburguer{
        display: inherit;		
        width: 70px;
        height: 70px;			
        padding-top: 10px;
        z-index: 2;
    }

    #cabecalho img:hover{
        display: none;
    }

    #links-drop-down {
        display: inherit;		
        position: absolute;
    }
    
    #links-drop-down li{
        list-style-type: none;
    }
    
    #links-drop-down li ul {
        display: none;        
        margin-left: -50px;
        padding-top: 20px;
        
        width: 100vw;
        list-style-type: none;	
        background-color:black;
    }

    #links-drop-down li ul li {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    
    #links-drop-down li ul a {
        padding: 0px 0px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 0px;
        text-transform: uppercase;
        line-height: 70px;
        align-content: center;
        text-align: center;
    }

}




@media only screen and (max-width: 450px){


    #cabecalho {	
        display: grid;
        grid-template-columns:1fr 1fr ;
        /* top: 0;
        right: 0;
        left: 0;		 */
        height: 110px;
        /* width: 100vw; */
        /* width: 100%; */
        		
        background-color: black;
        grid-template-areas: 
        "hamburguer logo-drop-down"
    }


    #logo-drop-down {
        display: grid;
        grid-area: logo-drop-down;
        justify-self: end;
    }

    #hamburguer{
        display: grid;
        grid-area: hamburguer;
        justify-self: start;
        
    }











}