html {
	box-sizing: border-box;
	overflow: auto;
	height: auto;
	scroll-behavior: smooth;
	
}

h4 {
	/* color: rgb(10, 3, 107); */
	color: black;
	font-size: 23px;
	line-height: 31px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: none;
}

h2 {
	/* color: rgb(10, 3, 107); */
	color: black;
	font-size: 43px;
	line-height: 47px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: uppercase;
}

p {
	/* color: rgb(10, 3, 107); */
	color: black;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-style: normal;
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 15px;
}

img {
	max-width: 100%;
}

body {
	font-family: "Montserrat", sans-serif;
	/* color: rgb(10, 3, 107); */
	color: black;
	font-size: 16px;
	font-weight: 400;
}

	header {
		margin-top: -16px;
		background-image: url("../images/header/ponte_estaiada2.jpg");
		/* background-image: url("../images/header/ponte_estaiada2-blue.jpg"); */
		/* background-image: url("../images/header/ponte_estaiada2-green.jpg"); */
		/* background-image: url("../images/header/ponte_estaiada2-pink.jpg"); */
		
		background-size: cover;
		background-position: center 30%;
		background-repeat: no-repeat;
		
		height: 582px;
		padding-top: 0px;
		margin-left: -10px;
		margin-right: -10px;
	}

	

		#title-large {
			text-align: center;
			color: #ffffff;
			font-size: 47px;
			line-height: 60px;
			letter-spacing: 1px;
			padding-bottom: 50px;
			padding-top: 300px;
		}




	#subtitle {
		text-align: center;
		padding-bottom: 50px;
		padding-top: 80px;
		padding-right: 200px;
		padding-left: 200px;
	}


		.button1 {
			border-radius: 15px;
			border-style: solid;
			border-color: #78f0d3;
			background: none;
			font-size: 20px;
			font-weight: bolder;
			
			margin-top: 50px;
			padding: 20px 43px;
			font-family: "Open Sans", sans-serif;
			cursor: pointer;
		}

		.button1:hover {
			background-color: #39ff14;
		}


		


	#torta-top {
		padding-bottom: -10px;
		margin-left: -8px;
	}


	#beneficios {
		background-color: #b4aeae;
		height: 700px;
		margin-left: -8px;
		margin-right: -8px;
	}

		#beneficios-titulo {
			text-align: center;
			color: #fff;
			margin-top: -4px;
		}



		.separador {
			height: 4px;
			margin-top: 5px;
			margin-bottom: 15px;
			background: linear-gradient(to right, #81d742, #1e73be);
		}

	

		.column {
			width: 33%;
			margin-bottom: 16px;
			padding: 0 8px;
			box-sizing: border-box;
			float: left;
			margin-block-end: 0px;
			margin-block-start: 0px;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
		}

			.fotos {
				width: 400px;
				height: 250px;
			}

				.icon {
					max-width: 20%;
					float: left;
				}

				.column h4 {
					color: #fff;

					padding: 15px 0px 10px 120px;
				}

			

			

			#text1 {
				color: #fff;
				padding-top: 16px;
			}

				.column p {
					color: #fff;
				}

			#text2 {
				color: #fff;
			}

			#text3 {
				color: #fff;
			}

		.column img {
			width: 100%;
		}

		#h4-text3 {
			font-size: 21px;
		}

	.torta {
		position: absolute;
		z-index: 20;
		display: block;
		bottom: -85px;
		background-color: #fafafa;
		padding-top: 100px;
		padding-bottom: 5px;
		text-align: left;
		margin-right: -8px;
	}

	#torta-bottom {
		margin-right: -8px;
	}

	.clear {
		clear: both;
		padding-top: 40px;
	}

	#dados-empresas {
		text-align: center;
	}

	.numero {
		font-size: 60px;
		line-height: 1em;
		font-weight: 300;
		color: #f73504;
		display: inline-block !important;
		height: 1em;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.dezenove {
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 12px 0 0;
		color: #c0c957;
	}

	.empregos {
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 12px 0 0;
		color: #c0c957;
	}

	.empregos19 {
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 12px 0 0;
		color: #c0c957;
		font-size: 60px;

		line-height: 1em;
		font-weight: 300;
		color: #0076b9;
		display: inline-block !important;
		height: 1em;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#bilhoes {
		color: #f73504;
	}

	#invest {
		background-color: #fafafa;
		padding-bottom: 40px;
	}

	#int {
		padding-right: 100px;
	}

	.grafico-unico {
		width: 80%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.graficos {
		float: left;
		width: 50%;
		text-align: center;
	}

	.graficos2 {
		float: left;

		text-align: center;
	}

	.graficos3 {
		float: center;
		width: 50%;
		text-align: center;
		margin-top: 110px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	#mais-de {
		max-width: 70%;
	}

	h2#mais-de {
		margin-left: auto;
		margin-right: auto;
	}

	

@media only screen and (min-width: 800px) and (max-width: 1150px){

	#subtitle{
		padding-right: 100px;
		padding-left: 100px;

	}
}



@media only screen and (min-width: 500px) and (max-width: 800px){

	#subtitle{
		padding-right: 50px;
		padding-left: 50px;

	}

	
}

@media only screen and (max-width: 600px){
	.button1 {
		display: block;
		border-radius: 15px;
		border-style: solid;
		border-color: #78f0d3;
		background: none;
		font-size: 20px;
		font-weight: bolder;
		margin: 10px;
		padding: 20px 43px;
		font-family: "Open Sans", sans-serif;
		cursor: pointer;
	}

}


@media only screen and (max-width: 500px){

	#subtitle{
		padding-right: 20px;
		padding-left: 20px;

	}

	