html {
	box-sizing: border-box;
	overflow: auto;
	height: auto;
	scroll-behavior: smooth;
	
}

h4 {
	color: rgb(10, 3, 107);
	font-size: 23px;
	line-height: 31px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: none;
}

h2 {
	color: rgb(10, 3, 107);
	font-size: 43px;
	line-height: 47px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: uppercase;
}

p {
	color: rgb(10, 3, 107);
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-style: normal;
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 15px;
}

body {
	font-family: "Montserrat", sans-serif;
	color: rgb(10, 3, 107);
	font-size: 16px;
	font-weight: 400;
}

img {
	max-width: 100%;
}

header {
	margin-top: -16px;
	background-image: url("../images/startup.jpg");
	background-position: center 30%;
	opacity: 80%;

	background-repeat: no-repeat;
	height: 582px;
	padding-top: 0px;
	margin-left: -10px;
	margin-right: -10px;
}

#cabecalho {
	display: flex;
	position: fixed;

	max-width: 1400px;
	width: 105%;
	height: 110px;
	margin: 0 auto;
	padding-top: 0px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 15px;
	

	justify-content: space-between;
	background-color: black;
}

#logo {
	align-items: center;

	margin-top: 10px;
	padding-left: 60px;
	transform: scale(0.9);
	margin-left: -11px;
	height: 100px;
	width: auto;
}

#links {
	align-items: center;
	padding-right: 40px;
}

#links ul {
	padding: 0px;
	margin: 0px;
	float: right;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 15px;
}

#links li {
	display: inline;
}

a:link {
	text-decoration: none;
}

#links a {
	padding: 0px 5px;
	display: inline-block;
	font-size: 12px;
	/*  */
	color: #ffffff;
	font-style: normal;
	font-weight: 900;
	letter-spacing: 0px;
	text-transform: uppercase;
	line-height: 140px;
}

#links a:hover {
	font-size: 13px;
	color: #39ff14;
}

#botao {
	border-radius: 15px;
	border-style: solid;
	border-color: #78f0d3;
	background: none;
	font-size: 20px;
	font-weight: bolder;
	margin: 10px;
	padding: 20px 43px;
	font-family: "Open Sans", sans-serif;
	cursor: pointer;
}

#botao:hover {
	background-color: #39ff14;
}

#title {
	padding-top: 290px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #ffffff;
}

#title-large {
	font-size: 47px;
	line-height: 60px;
	letter-spacing: 1px;
}









#title-empresas{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;


}

.list{
	display: grid;
	row-gap: 30px;
	column-gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-items: center;
	justify-content: center;
	align-content: center;
	padding-bottom: 40px;
	

}

.logo-empresa{
	display:grid;
	
	padding: 30px;
	border-radius: 1rem;
	border-style: solid;
	width: 200px;
	height: 200px;
	align-items: center;
	justify-items: center;
	justify-content: center;
	align-content: center;

}
.logo-empresa-branco{
	display:grid;
	background-color: #caccc9;
	padding: 30px;
	border-radius: 1rem;
	border-style: solid;
	width: 200px;
	height: 200px;
	align-items: center;
	justify-items: center;
	justify-content: center;
	align-content: center;

	

}








































































































footer {
	clear: both;
	height: 0px;
	width: 100%;
	margin-bottom: -20px;
}

.column-footer {
	width: 33%;

	margin-bottom: 16px;

	box-sizing: border-box;
	float: left;
	margin-block-end: 0px;
	margin-block-start: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.logos-footer {
	width: 30%;
	float: left;
}

#logos {
	background-color: black;
	margin-right: -20px;
	margin-left: -20px;
	height: 300px;
}

#logo-agencia-footer {
	float: left;

	padding-left: 140px;
	padding-top: 70px;
	height: 130px;
	width: 130px;
	background-color: black;
}

#logo-ufrj {
	padding-top: 0px;
	padding-left: 60px;
	height: 280px;
	width: 280px;
}

#social {
	display: inline;
	padding-right: 100px;
}

#social ul {
	margin: 0px;
	float: right;
	list-style-type: none;

	padding-left: 40px;
	padding-top: 15px;
}

#social li {
	display: inline;
}

#social a {
	padding: 100px 10px;
	display: inline-block;
	font-size: 12px;
	width: 50px;
	height: 50px;
}

#cop {
	color: white;
	clear: both;
	text-align: center;
	padding-top: 15px;
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	line-height: 62px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: black;
	padding-bottom: 30px;
	margin-bottom: -20px;
}